# Ignore files that don't need formatting
*.backup
*.go
*.lock
*.log
*.mod
*.ps1
*.py
*.sh
*.sum
.PSScriptAnalyzerSettings.psd1
.editorconfig
.eslintignore
.gitattributes
.github/
.gitignore
.husky/
.jscpd/
.mise.lock
.prettierignore
.ruff_cache/
.shellcheckrc
.venv/
LICENSE
VERSION*
version*
coverage/
dist/
docs-html/
package-lock.json
